@using System.Linq
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>前台</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Frontend/Index.css" />
</head>
<body>
    @RenderBody()

    <script>
        window.frontendAuth = {
            permissions: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(
                User.FindAll("permission")
                    .Select(claim => claim.Value)
                    .Distinct()
                    .ToList()
            ))
        };
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="~/js/Frontend/app.js" asp-append-version="true"></script>
</body>
</html>
